header {
    text-align: center;
    background-color: darkslateblue;
    color: white;
}

menu > ul{
    list-style:none;
    text-align:center;
    padding:0;
    Margin:0;
}

menu > ul > li{
    display:inline-block;
    padding:20px;
    color:white;
}

menu li > a{
    padding:20px;
    text-decoration:none;
    color:inherit;
}

menu a:hover{
    background-color:white;
    color:black !important;
}

body {
    background-color: lavender !important;

}